# Grafana Datasources - Phase 5

apiVersion: 1

datasources:
  # Prometheus
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"

  # Tempo (Traces)
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    editable: true
    jsonData:
      tracesToLogs:
        datasourceUid: 'Loki'
        tags: ['correlation_id']
      serviceMap:
        datasourceUid: 'Prometheus'
      nodeGraph:
        enabled: true

